@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    
}

body {
    background-color: #333;
    color: #fff;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
    border-right: 2px solid rgb(190, 190, 190);
    color: #fff;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100;
    box-shadow: 16px 6px 10px -1px rgba(0, 0, 0, 0.25),
                -16px -16px 10px -1px rgba(255, 255, 255, 0.7);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    /* transform: translateX(-100%); */
}

/* Show nav */
.show-nav {
    transform: translate(0%);
}

nav ul {
    list-style-type: none;
    font-family: 'Days One', sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;

}




nav ul li {
    padding: 10px 5px;
    margin: 0;  
    transition: 1s;
}


nav ul li:first-of-type {
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: larger;
    color: #331;
    background-color: #fff;
    border-bottom: 1px solid #111;
}

nav ul li a {
    color: #111;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgba(0, 0, 0, 0.685);
    text-decoration: none;
}

.toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    border: 0px; 
    height: 50x;
    width: 50px;
    font-size: 12px;
    border-radius: 50%;
    padding: 10px 10px;
    transition: left 0.5s ease-in;
}
.toggle:focus {
    outline: none;
}

.nav-btn {
   left: 220px!important;
}

/* End Nav customization */